
	<!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body" onkeydown="keyLogin();">
      <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">增加来源</strong></div>
      </div>

     	 <form class="am-form am-form-horizontal" id="form_addSource">                	
	        	<div class="am-form-group">
			    <label for="" class="am-u-sm-2 am-form-label">来源名称</label>
			    <div class="am-u-sm-10">
			      <input type="text" class="am-form-field am-round"  name="source" id="source"/>
			    </div>
			   
		  	</div>
	      <div class="am-u-sm-10 red f12 fr" id="errorMsg" ></div>
	      <br />
	    	<div class="am-form-group">
			    <div class="am-u-sm-10 am-u-sm-offset-2">
			      <button type="button" id="submitbtn" class="am-btn am-btn-primary am-btn-sm am-fl" onclick="add_source()">提 交</button>
			    </div>
			</div>
			
	    </form>

      
    </div>

    <footer class="admin-content-footer">
      <hr>
      <p class="am-padding-left">底部</p>
    </footer>
  </div>
  <!-- content end -->
