<!-- content start -->
<div class="admin-content">
    <div class="admin-content-body">
        <div class="am-cf am-padding-left am-padding-top">
            <strong class="am-text-primary am-text-lg">ROS配置</strong> / <small>编辑配置</small>
        </div>

        <form class="am-form am-form-horizontal am-padding" id="form_editRosConf">

            <div class="am-form-group">
                <label class="am-form-label">配置名称</label>
                <div><input type="text" class="am-form-field" name="name" id="name" value="<?php echo $res['name']?>" placeholder="配置名称"/></div>
            </div>
            <div class="am-form-group">
                <label class="am-form-label">配置类型</label>
                <div><input type="text" class="am-form-field" name="type" id="type" value="<?php echo $res['type']?>" placeholder="配置类型"/></div>
            </div>
            <div class="am-form-group">
                <label class="am-form-label">备注</label>
                <div><input type="text" class="am-form-field" name="remark" id="remark" value="<?php echo $res['remark']?>" placeholder="备注"/></div>
            </div>

            <div class="am-form-group">
                <label class="am-form-label">配置脚本</label>
                <div>
                    <textarea class="am-form-field" name="code" id="code" rows="8"><?php echo $res['code']?></textarea>
                </div>
            </div>

            <div class="am-form-group">
                <div>
                    <button type="button" class="am-btn am-btn-primary am-btn-sm am-fl" onclick="doEditRosConf('<?php echo $id?>')">提 交</button>
                </div>
            </div>

            <div class="red f14 fl" id="msg"></div>
            <br />

        </form>

    </div>
</div>

<!-- content end -->
<script>
    //增加用途
    function doEditRosConf(id){

        $.ajax({
            url: "index.php?action=rosConfig&mod=doEditRosConf&id="+id,
            type: "POST",
            data: $("#form_editRosConf").serialize(),
            dataType: "json",
            success: function(res){
                if(res.status == "success"){
                    document.getElementById("msg").innerHTML =res.msg;
                    window.location='index.php?action=rosConfig';
                }else{
                    document.getElementById("msg").innerHTML =res.msg;
                }
            }
        });

    }
</script>
