<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>登录</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="public/css/amazeui.min.css"/>
    <script src="public/js/jquery.min.js"></script>
    <link rel="stylesheet" href="public/css/app.css" />
</head>
<body>
<div class="header">
    <div class="am-g">
        <h1>内部管理系统</h1>
    </div>
    <hr />
</div>
<div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered" onkeydown="keyLogin();">
        <h3>登录</h3>
        <hr>
        <form method="post" class="am-form" id="myform">
            <label for="username">用户名:</label>
            <input type="text" name="username" id="username" value="">
            <br />
            <label for="password">密码:</label>
            <input type="password" name="password" id="password" value="">
            <br />
            <div class="am-cf">
                <input type="button" id="submitbtn" onclick="checkFrom();" name="" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl">
                <span id="errorMsg" style="color: red;"></span>
            </div>
        </form>
        <hr>
        <p></p>
    </div>
</div>
</body>
<script src="public/js/app.js"></script>
</html>
