<!-- content start -->
<div class="admin-content">
    <div class="admin-content-body">
        <div class="am-cf am-padding-left am-padding-top">
            <strong class="am-text-primary am-text-lg"></strong>  <small></small>
            <input type="button" class="am-btn am-btn-secondary" onclick="javascript:{window.location='index.php?action=sysRos&mod=addRos'}" value="新增ROS"/>
            <input type="button" class="am-btn am-btn-secondary" onclick="javascript:{window.location='index.php?action=rosConfig&mod=addRosConf'}" value="新增配置"/>
            <input type="button" class="am-btn am-btn-secondary" onclick="javascript:{window.location='index.php?action=sysRos'}" value="ROS列表"/>
            <input type="button" class="am-btn am-btn-secondary" onclick="javascript:{window.location='index.php?action=rosConfig'}" value="配置列表"/>
            <input type="button" class="am-btn am-btn-secondary" onclick="javascript:{window.location='index.php?action=configExec'}" value="配置下发"/>
            <input type="button" class="am-btn am-btn-secondary" onclick="javascript:{window.location='index.php?action=ipRandom'}" value="打乱IP"/>
        </div>
        <div class="am-cf am-padding-left am-padding-top"><small class="am-text-primary am-text-m">>>配置下发</small></div>
        <form class="am-form am-form-horizontal am-padding" id="confExec">

            <div class="am-form-group">
                <label for="">选择ROS</label>
                <select name="sysRos" id="sysRos">
                    <option value="" selected>请选择</option>
                    <?php
		    			foreach($resRos as $ros){
		    		?>
                    <option value="<?php echo $ros['id']?>"><?php echo $ros['ip_main']?></option>
                    <?php
		    			}
		    		?>
                </select>
            </div>

            <div class="am-form-group">
                <label for="">选择配置</label>
                <select name="rosConf" onchange="confSelect(this)" id="rosConf">
                    <option value="" selected>请选择</option>
                    <?php
		    			foreach($resConf as $rosConf){
		    		?>
                    <option value="<?php echo $rosConf['id']?>"><?php echo $rosConf['name']?></option>
                    <?php
		    			}
		    		?>
                </select>
            </div>

            <div class="am-form-group">
                <label for="">脚本预览</label>
                <div>
                    <textarea name="code" id="code" rows="12" placeholder="脚本预览" ></textarea>
                </div>
            </div>

            <div class="am-form-group">
                <div>
                    <input type="button" id="exec" class="am-btn am-btn-primary am-btn-sm am-fl" onclick="confExec()" value="执 行"/>
                </div>
            </div>

            <div class="red f14 fl" id="msg"></div>
            <br />

        </form>

    </div>
</div>

<!-- content end -->
<script type="text/javascript">
    function confSelect(obj){
        if(obj.value){
            $.post('index.php?action=configExec&mod=confSelect',{'id':obj.value},function(res){
                $('#code').html(res);
            },'html');
        }else{
            $('#code').html('');
        }
    }
    //
    function confExec(){
        var rosid = $('#sysRos').val();
        var confid = $('#rosConf').val();
        if(!rosid || !confid){
            document.getElementById("msg").innerHTML ='请选择！';
            return;
        }
        $.ajax({
            url: "index.php?action=configExec&mod=confExec",
            type: "POST",
            data: {'rosid':rosid,'confid':confid},
            dataType: "json",
            success: function(res){
                if(res.status == "success"){
                    document.getElementById("msg").innerHTML = res.msg+"<br/>"+res.info;
                    $('#confExec')[0].reset();
                }else{
                    document.getElementById("msg").innerHTML = res.msg+"<br/>"+res.info;
                }
                $("#exec").val("执行").attr('disabled',false);
            }
        });
        $("#exec").val("提交中..").attr('disabled',true);
    }
</script>
